.footer {
	padding: 0.1px 0;
	.row {
		h1{
			margin: 70px 0 30px;
			color: white;
		}
		h3 {
			color: white;
			margin-bottom: 50px;
		}
		.headerall {
		display: inline-block;
		vertical-align: top;
		color: #383737;
		a {
			text-decoration: none;
			display: inline-block;
			color: #383737;
			line-height: 15px;
			vertical-align: center;
		}
		span{
			margin-top: 10px;
			line-height: 15px;
			vertical-align: center;
		}
		.logo {
			text-align: right;
			margin-top: 10px;
			text-transform: uppercase;
			.logoup{
				@include bg('logotip.png');
			}
			.logodown {
				display: inline-block;
				p {					
					font-weight: bold;
					font-size: 18px;
					line-height: 13px;
				}
				span {
					margin-top: 0px;
					font-size: 9px;
					line-height: 5px;
				}
			}
		}
	}
	.text {
		margin-top: 20px;
		span {
			font-size: 16px;
			line-height: 24px;	
		}
	}
	.header4 {
		@media screen and (max-width: 680px) {
			display: none;
		}
	}
	}
}