@import '../mixins/mixins';

.header {
	height: $header;	
	font-family: arial;
	box-shadow: 0 7px 5px -5px black;
	.rowheader {
		text-align: justify;
	}	
	.headerall {
		display: inline-block;
		vertical-align: top;
		color: #383737;
		a {
			text-decoration: none;
			display: inline-block;
			margin-top: $header/2-8px;
			color: #383737;
		}
		.logo {
			text-align: right;
			margin-top: 10px;
			text-transform: uppercase;
			.logoup{
				@include bg('logotip.png');
			}
			.logodown {
				display: inline-block;
				p {					
					font-weight: bold;
					font-size: 18px;
					line-height: 13px;
				}
				span {
					font-size: 9px;
					line-height: 5px;
				}
			}
		}
	}
	.text {
		margin-top: 20px;
		span {
			font-size: 16px;
			line-height: 24px;	
		}
	}
	.header4 {
		@media screen and (max-width: 680px) {
			display: none;
		}
	}
}