.garanted {
	padding: 0.1px 0 90px;
	text-align: center;
	.row {
		h1 {
			font-size: 29px;
			color: white;
			margin: 85px 0 25px;
		}
		.icons {
			display: inline-block;
			vertical-align: top;
			margin: 0 45px 35px 0;
			width: 275px;
			height: 150px;
			&:nth-child(3n+1) {
				margin-right: 0;
				@media screen and (max-width: 980px) {
			     	margin-right: 45px;
			     }
			     @media screen and (max-width: 940px) {
					margin: 0 30px 35px;
				}
			}
			&:nth-child(2n+1) {
				@media screen and (max-width: 970px) {
					margin-right: 0;
				}
				@media screen and (max-width: 940px) {
					margin: 0 30px 35px;
				}
			}
			@media screen and (max-width: 940px) {
				margin: 0 30px 35px;
			}	
			
			span {
				margin-bottom: 20px;
				vertical-align: center;
			}
			i {
				margin-top: 20px;
				color: red;
			}
			p {
				color: white;
				margin-top: 20px;
			}
		}
	}
}