@import 'reset';


body {
    min-height: 10267px;
    font-family: arial;
}

#BG {
    background-image: url('./img/land1920.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.row {
    max-width: 940px;
    margin: 0 auto;
     @media screen and (max-width: 980px) {
     	max-width: 95%;
     }
}

.left {
    float: left;
}

.gran {
	max-width: 1920px;
}

.right {
    float: right;
}

.clear {
	clear: both;
}

.failImgFolder {
    background-image: url('img/zapor.png'),
                     url('img/zapor1.png'),
                     url('img/line.png'),
                     url('img/moskvich.jpg'),
                     url('img/moskvich1.png'),
                     url('img/lada.png');
}

@import 'fonts/fontawesome/font-awesome.css'; 
@import 'galery/galery';
@import 'consultation/consultation';
@import 'services/services';
@import 'road/road';
@import 'header/header';
@import 'process/process';
@import 'piar/piar';
@import 'garanted/garanted';
@import 'reports/reports';
@import 'tarifs/tarifs';
@import 'map/map';
@import 'questions/questions';
@import 'footer/footer';