@import 'reset';


body {
    font-family: arial;
}

.row {
    max-width: 940px;
    margin: 0 auto;
     @media screen and (max-width: 980px) {
     	max-width: 95%;
     }
}

.left {
    float: left;
}

.gran {
	max-width: 1920px;
}

.right {
    float: right;
}

.clear {
	clear: both;
}

@import 'fonts/fontawesome/font-awesome.css';
@import 'galery/galery';
@import 'consultation/consultation';
@import 'services/services';
@import 'road/road';
@import 'header/header';
@import 'process/process';
@import 'piar/piar';
@import 'garanted/garanted';
@import 'reports/reports';
@import 'tarifs/tarifs';
@import 'map/map';
@import 'questions/questions';
@import 'footer/footer';
@import 'folder/folder';