.questions {
	padding: 50px 0px;
	.row {
		h1 {
			text-align: center;
			font-size: 30px;
			margin: 30px 0 50px;
		}
		.questionsConteiner {
			position: relative;
			padding-left: 40px;
			margin-left: 20px;
			margin-bottom: 30px;
			&::before {
				@include after(3px,18px);
				background-color: orange;
				top: 30px;
				left: 0px;
			}
			.cross {
				height: 18px;
				width: 3px;
				background-color: orange;
				position: absolute;
				top: 22px;
				left: 8px;
			}
			.vopros {
				padding: 20px 0;
				font-size: 21px;
				line-height: 25px;
				font-weight: bold;
				&:hover {
					cursor: pointer;
				}
			}
			.parentOtvet {
				height: 0;
				overflow: hidden;
				.otvet {
					padding: 20px 0;
					font-size: 18px;
					line-height: 21px;
					vertical-align: middle;				
					overflow: hidden;
				}
			}
		}
	}
}