@mixin after($height,$width) {
	display: block;
	content: "";
	height: $height;
	width: $width;
	position: absolute;
}

@mixin bg($imgname) {
    background: {
        image: url('./img/#{$imgname}');
        position: center;
        size: 100%;
        repeat: no-repeat;
    }
}

@mixin comporison {
            .comporison {
            position: relative;
            box-shadow: 0 0 1px 1px #000;
            margin: 0 auto;
            background-position: center top;
            background-repeat: no-repeat;
            overflow: hidden;
            .innerComporizon {
                transition: 0.2s linear;
                position: relative;
                border-right: 4px solid red;
                span {
                    position: absolute;
                    height: 0px;
                    width: 4px;
                    right: -24px;
                    top:45%;
                    border: 20px solid red;
                    border-top-color: transparent;
                    border-bottom-color: transparent;
                }
            }
        }
    }


$header: 95px;
$colorh: #0076bf;
$hover: #cccccc;

