.process {
	text-align: center;
	padding: 0.1px 0 135px;
	h1 {
		margin: 77px 0 55px;
		font-size: 31px;
	}
	.tabs {
		.radio {
			display: none;
		}	
		.label {
			width: 75%;
			margin: 0 auto;
			border-bottom: 3px solid orange;
			.labelRadio {
				display: block;
				width: 45%;
				padding: 15px 0px;
				font-size: 18px;
				vertical-align: bottom;
				@media screen and (max-width: 680px) {
					font-size: 13px;
					width: 49%;
				}
				span{
					vertical-align: center;
					color: orange;
				}
			}
			.labelRadioProtect {
				line-height: 36px;
				@media screen and (max-width: 680px) {
					line-height: 26px;
				}
			}
		}
		.jiguli{
			width: 50%;
			margin: 0 1.99% 0 -10%;
			@media screen and (max-width: 1130px) {
				margin: 0 1.99% 0 5%;
				width: 45%;
			}
			@media screen and (max-width: 680px) {
				width: 100%;
				margin: 0 auto;
				float: none;
			}
		}
		.conteinerRadio {
			width: 58%;
			text-align: left;
			@media screen and (max-width: 1130px) {
				width: 48%;
			}
			@media screen and (max-width: 680px) {
				width: 100%;
				float: none;
			}
			h2 {
				font-size: 24px;
				margin: 64px 0 20px;
			}
			.innerprocess {
				p {
					font-size: 16px;
					line-height: 24px;
				}
			}
			.innerProtect, .innerRegain {
				display: none;
			}
		}
		.krest {
			position: relative;
			padding-left: 43px;
			margin: 35px 0;
			display: none;
			&::before {
				@include after(23px,3px);
				background-color: orange;
				left: 9px;
				top: 0px;
			}			
			&::after {
				@include after(3px,23px);
				background-color: orange;
				left: 0px;
				top: 10px;
			}
			h3 {
				display: inline-block;
				text-transform: none;		
				font-size: 23px;
				@media screen and (max-width: 1130px) {
					font-size: 18px;
				}
			}
		}
		#polirovkaRegain:checked ~ .conteinerRadio .innerRegain,
		#polirovkaRegain:checked ~ .krest,
		#polirovkaProtect:checked ~ .conteinerRadio .innerProtect {
			display: block;
		}
		#polirovkaRegain:checked ~ .label .labelRadioRegain,
		#polirovkaProtect:checked ~ .label .labelRadioProtect {
			border: 3px solid orange;
			border-bottom: none;
		}
	}
	.protectH3 {
		text-transform: none;
		margin: 64px 0 56px;
		font-size: 22px;
		@media screen and (max-width: 680px) {					
			font-size: 18px;
		}
	}
	.px770 {
		form {
			.left {
				border-color: black;
				color: black;
			}
		}
	}
}